.git

/playground-mysql/data
/playground-mysql/conf.d
/playground-mysql/log

/playground-redis/data
/playground-redis/redis.conf

/playground-elasticsearch/elasticsearch-standalone/esdata
/playground-elasticsearch/esdata*

/playground-observability/prometheus/prom_data

/playground-rocketmq/namesrv/logs
/playground-rocketmq/namesrv/store
/playground-rocketmq/broker/logs
/playground-rocketmq/broker/store

/playground-xxljob/data

/playground-elasticsearch/elasticsearch-standalone/esdata